{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/6c5e14b9fa.js"></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Data Tables CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />

    <title>
      Lakeview ILS
    </title>
  </head>
  <body>
    {% include "_preloader.html" %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="#">Lakeview Library ILS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if page == 'home' %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item {% if page == 'catalog' %}active{% endif %}">
            <a class="nav-link" href="{% url 'catalog' %}">Catalog</a>
          </li>
          <li class="nav-item {% if page == 'patrons' %}active{% endif %}">
            <a class="nav-link" href="{% url 'patrons' %}">Patrons</a>
          </li>
          <li class="nav-item {% if page == 'branches' %}active{% endif %}">
            <a class="nav-link" href="#">Branches</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock content %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Data Tables -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
      $("document").ready(function() {
        {% block scripts %}
        {% endblock scripts %}
      });
    </script>
      
  </body>
</html>
