{% extends "_base.html" %} 
{% load static %} 
{% block content %}
  <div class="container">
    <h1 class="mb-3">Library Catalog</h1>

    <div class="table-responsive">
      <table class="table table-hover table-sm align-middle" id="catalog-datatable">
        <!-- Screen Readers -->
        <caption class="sr-only">
          List of library items
        </caption>
        <thead class="thead-dark">
          <tr class="align-middle">
            <th scope="col" class="align-middle">Image</th>
            <th scope="col" class="align-middle">Title</th>
            <th scope="col" class="align-middle text-center">
              Author / Director
            </th>
            <th scope="col" class="align-middle text-center">
              Dewey Call Number
            </th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
            <tr>
              <td class="align-middle">
                <img
                  src="{% if book.cover_image %}{{ book.cover_image.url }}{% else %}{% static 'images/nocover.jpg' %}{% endif %}"
                  alt=""
                  width="150"
                  height="212"
                />
              </td>
              <td class="align-middle text-center"><a href="{% url 'item-detail' pk=book.pk %}">{{ book.title }}</a></td>
              <td class="align-middle text-center">
                {% for author in book.authors.all %}
                  <span>{{ author.first_name }} {{ author.last_name }}</span>,
                {% endfor %}
              </td>
              <td class="align-middle text-center">{{ book.dewey_index }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->

    <!-- Pagination -->
    {% comment %} {% include "_pagination.html" %} {% endcomment %}
  </div>
  <!-- /.container -->
{% endblock content %}

{% block scripts %}
  $("#catalog-datatable").DataTable(
    {
      "columns": [
        // disable image column sorting
        {"name": "image", "orderable": false},
        {"name": "title", "orderable": true},
        {"name": "author_director", "orderable": true},
        {"name": "dewey_call_number", "orderable": true} 
      ],
      // order by title
      "order": [[1, "asc"]]
    },
  );
{% endblock scripts %}
  
