{% extends "_base.html" %}
{% load static %}

{% block content %}
	<div class="container">
        <h1>Library Catalog</h1>


        <div class="table-responsive">
          <table class="table table-hover table-sm align-middle">
            <!-- Screen Readers -->
            <caption class="sr-only">List of library items</caption>
            <thead class="thead-dark">
              <tr class="align-middle">
                <th scope="col" class="align-middle">Image</th>
                <th scope="col" class="align-middle">Title</th>
                <th scope="col" class="align-middle text-center">Author / Director</th>
                <th scope="col" class="align-middle text-center">Dewey Call Number</th>
              </tr>
            </thead>
            <tbody>

              {% for book in books %}
                <tr>
                  <td class="align-middle">
                  	<img src="{% if book.cover_image %}{{ book.cover_image.url }}{% else %}{% static 'images/nocover.jpg' %}{% endif %}" alt="" width="200" height="262">
                  </td>
                  <td class="align-middle text-center">{{ book.title }}</td>
                  <td class="align-middle text-center">
                  	{% for author in book.authors.all %}
                  		<span>{{ author.first_name }} {{ author.last_name }}</span>,
                  	{% endfor %}
                  </td>
                  <td class="align-middle text-center">{{ book.dewey_index }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div> <!-- /.table-responsive -->
		
		<!-- Paginantion -->
		<nav aria-label="...">
			<ul class="pagination justify-content-center">
				<!-- Previous Page -->
				{% if page_obj.has_previous %}
					<li class="page-item">
						<a href="?page=1" class="page-link">&laquo; First</a>
					</li>
					<li class="page-item">
						<a href="?page={{ page_obj.previous_number }}" class="page-link" tabindex="">Previous</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a href="#" class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
					</li>
				{% endif %}


				{% for num in page_obj.paginator.page_range %}
					<!-- Current Page -->
					{% if page_obj.number == num %}
						<li class="page-item active" aria-current="page">
							<span class="page-link">
								{{ page_obj.number }}
								<span class="sr-only">(current)</span>
							</span>
						</li>
					{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
						<li class="page-item">
							<a href="?page={{ num }}" class="page-link">{{ num }}</a>
						</li>
					{% endif %}
				{% endfor %}

				

				<!-- Next Page -->
				{% if page_obj.has_next %}
					<li class="page-item">
						<a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
					</li>
					<li class="page-item">
						<a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a href="#" class="page-link" aria-disabled="true">Next</a>
					</li>
				{% endif %}
			</ul>
		</nav>
      </div> <!-- /.container -->
{% endblock content %}	