{% extends '_base.html' %}
{% load static %}

{% block content %}

  <div class="container">
    <h1 class="mb-5">View Library Item</h1>

    <div class="row mb-5">
      <div class="col-2 position-relative">
        <img
          src="{% if item.cover_image %}{{ item.cover_image.url }}{% else %}{% static 'images/nocover.jpg' %}{% endif %}"
          alt=""
          width="150"
          height="212"
        />
        {% if item.is_available_to_borrow %}
          <div class="available-copies-badge bg-success">
            <span title="Available copies">
              {{ item.number_of_available_copies_to_borrow }}
            </span>
            <span class="sr-only">Available copies</span>
          </div>
        {% else %}
            <div class="available-copies-badge bg-danger">
            <span title="Available copies">0</span>
            <span class="sr-only">Available copies</span>
          </div>
        {% endif %}
        
      </div>
      <div class="col-5 offset-1 d-flex flex-column">
          <h3 class="item-title">{{ item.title }}</h3>
          <div class="creators text-muted">
            Chino Dalipaj
          </div>
          <div class="item-status font-weight-bold">
              {{ item.status }}
          </div>
          <div class="item-type">
              Book
          </div>

          <div class="item-copies small">
              Total number of copies: {{ item.number_of_copies }}
          </div>
          
          <div class="item-location small">
              Last Location: {{ item.location }}
          </div>

          {% comment %} <div class="actions mt-auto">
              
              {% if item.status.name == "AV" %}
                <!-- Item is Available for Check Out-->
                <a href="{% url 'checkout' pk=item.pk %}" class="btn btn-primary">Check Out</a>
              {% elif item.status.name == "CO" %}
                <!-- Item is Checked Out -->
                <a href="#" class="btn btn-dark checkin" data-url="{% url 'item-checkouts' pk=item.pk %}">Check In</a>
                <a href="{% url 'hold' pk=item.pk %}" class="btn btn-outline-dark">Place a Hold</a>
              {% endif %}
              
                
              
              <a href="#" class="btn btn-danger">Mark Item Lost</a>
          </div> {% endcomment %}
          <div class="actions dropdown mt-auto">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item checkin" href="#" data-url="{% url 'item-checkouts' pk=item.pk %}">Check In</a>
              <a class="dropdown-item" href="{% url 'checkout' pk=item.pk %}">Check Out</a>
              <a class="dropdown-item" href="{% url 'hold' pk=item.pk %}">Place Hold</a>
              <a class="dropdown-item" href="#">Mark Lost</a>
            </div>
</div>
      </div>

      <div class="col-4">
          <div>
            <span class="font-weight-bold">ISBN</span>: <span class="float-right text-muted">{{ item.isbn }}</span>
          </div>

          <div>
            <span class="font-weight-bold">Call Number:</span> <span class="float-right text-muted">{{ item.dewey_index }}</span>
          </div>

          <div>
            <span class="font-weight-bold">Replacement Cost:</span> <span class="float-right text-muted">€{{ item.cost }}</span>
          </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4>Checkout History</h4>

        <div class="table-responsive">
          <table class="table table-hover table-sm align-middle" id="checkout-history-table">
              <!-- Screen Readers -->
              <caption class="sr-only">
                Displays the checkout history of the item
              </caption>
              <thead>
                  <tr class="align-middle">
                    <th scope="col" class="align-middle">Date Loaned</th>
                    <th scope="col" class="align-middle">Date Returned</th>
                    <th scope="col" class="align-middle">
                      Card Id
                    </th>
                  </tr>
              </thead>
              <tbody>
                {% for entry in checkout_history %}
                  <tr>
                    <td>{{ entry.checked_out|date:"M d, Y"}}</td>
                    <td>
                      
                      {% if entry.checked_in %}
                        {{ entry.checked_in|date:"M d, Y" }}
                      {% else %}
                        -
                      {% endif %}
                        
                    </td>
                    <td>{{ entry.library_card.pk }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>

      <div class="col-sm-12 col-md-6">
        <h4>Current Holds</h4>

        <div class="table-responsive">
          <table class="table table-hover table-sm align-middle" id="holds-table">
              <!-- Screen Readers -->
              <caption class="sr-only">
                Displays current holds for the item
              </caption>
              <thead>
                  <tr class="align-middle">
                    <th scope="col" class="align-middle">Hold Placed</th>
                    <th scope="col" class="align-middle">Patron</th>
                  </tr>
              </thead>
              <tbody>
                {% comment %} {% for book in books %}
                    
                {% endfor %} {% endcomment %}
                
                {% for entry in holds %}
                  <tr>
                    <td>{{ entry.hold_placed|date:"M d, Y"}}</td>
                    <td>{{ entry.library_card.patron }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>

    </div> <!-- /.row -->
  </div> <!-- /.container -->
{% endblock content %}